:root{
    --color-bg : #f8f8f8;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --border-radius: 5px;
    --color-medium: #e8e8e8;
}

*{
    box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   line-height: 1.6;
   background-color: var(--color-bg); 
}